*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: 'Lora', serif;
   

}


body{
    background-image: url("img/mapa.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.863);
    height: 35vh;
    width: 35%;
    border-radius: 20px;
    padding: 20px;
    margin: 0;

    & textarea {
        height: 100%;
        width: 100%;
        margin-bottom: 10px;
        background-color: rgb(36, 35, 35);
        border: none;
        color: white;
      outline: none;
      font-weight: 400;
      font-size: 18px;
      border-radius: 20px;
        padding: 2vh;

    }

    & nav {
        display: flex;
        align-items: center;
        gap: 25px;
        width: 100%;
        justify-content: space-between;
        padding: 10px;
        
    }
   
    & select {
        height: 5vh;
        width: 100%;
        background-color: rgb(36, 35, 35);
        color: white;
        border-radius: 20px;
        border: none;
        outline: none;
        padding: 0 2vh;
        font-size: 18px;
        
    
       
    }

     & option{
            background-color: rgb(36, 35, 35);
            color: white;
            outline: none;
            border: none;
        }
}

button{
    cursor: pointer;
   background-color: rgb(36, 35, 35);
    color: white;
    border: none;
    height: 5vh;
    width: 2.8vw;
    border-radius: 20px;
    
    
    
    
    
    

    
}

button:hover{
    background-color: rgb(119, 118, 118);
    transform: scale(1.3);
    transition: all 0.4s ease-in-out;
}

button:active{
    background-color: black;
    transition: all;
}
img{
  /* background-color: rgb(36, 35, 35); */
  height: 20px;
  width: 20px;
  
 
}

.resultado{
    color: white;
    background-color: rgb(36, 35, 35);
    height: 100%;
    width: 100%;
    margin-top: 2vh;
    border-radius: 20px;
    padding: 3vh;

    & p {
        padding-top: 10px;
        font-size: 20px;
        font-weight: 400;
        
    }
}
